@if (!ExibirItens)
{
    <AuthorizeView Roles="administrator, vip">
        <a class="btnCreate" href="/createauction">Criar Leilão</a>
    </AuthorizeView>
    @if (!editAuction)
    {
<<<<<<< HEAD
        <h3 class="text-center">Lista dos Seus Leilões</h3>
=======
        <h3 class="text-center mb-3">Lista dos Seus Leilões</h3>
>>>>>>> fef9aaed6efca246766f600dea03b4c89de4500d
        @if (Auction == null)
        {
            <img src="images/loading-gif.gif" />
        }
        else
        {
            @if (Auction.Count() > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Inicio</th>
                            <th>Fim</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var auction in Auction)
                    {
                        <tbody>
                            <tr>
                                <td>@auction.Name</td>
                                <td>@auction.Starts</td>
                                <td>@auction.Ends</td>
                                <td><button @onclick="(()=> EditAuction(auction))">Editar</button></td>
                                <td><button @onclick="(()=> PassarItem(auction))">Itens</button></td>
                            </tr>
                        </tbody>
                    }
                </table>
            }
        }
    }
    else
    {
        <ManageAuction Auction="@AuctionEspecific"></ManageAuction>
    }
}
else
{
<CascadingValue Value="@auctionItem">
    <Auction.Blazor.Components.ItemsComponents.ItemListComponent></Auction.Blazor.Components.ItemsComponents.ItemListComponent>
</CascadingValue>
}
@code {
    [Inject] IManageAuctionService manageAuctionService { get; set; }
    [Parameter] public int IdUser { get; set; }
    public IEnumerable<AuctionModel> Auction { get; set; }
    public AuctionModel AuctionEspecific { get; set; }
    public AuctionModel auctionItem { get; set; } = new();
    public bool ExibirItens = false;
    public bool editAuction = false;

    public void EditAuction(AuctionModel auction) 
    {
        AuctionEspecific = auction;
        editAuction = true;
    }
    protected override async Task OnInitializedAsync()
    {
        Auction = await manageAuctionService.GetByUser(IdUser);
        await Task.CompletedTask;
    }


    public void PassarItem(AuctionModel auctionIt)
    {
        auctionItem = auctionIt;
        ExibirItens = true;
    }

}
