@inject IManageAuctionService manageAuctionService
@inject NavigationManager navigation
@if (!Exibir)
{
    @if (!AddItems)
    {
        <button class="btnCreate" @onclick="(()=>AddItem())">Adicionat Item</button>
        @if (Auction == null)
        {
            <p>Não Foram Encontrados Itens Para Esse Leilão</p>
        }
        else
        {
            <h2>Items do @Auction.Name</h2>
            @foreach (var item in Auction.Items)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nome</th>
                            <th>Marca</th>
                            <th>Condição</th>
                            <th>Preço Base</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        CountPlus();
                        <tr>
                            <td>@count</td>
                            <td>@item.Name</td>
                            <td>@item.Brand</td>
                            <td>@item.Condition</td>
                            <td>@item.BasePrice.ToString("C1")</td>
                            <td>
                                <button  @onclick="(()=>DarLance(item))">
                                    Dar Lance
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            }

        }

    }
else
{
    <ItemCreate IdAuction
    ="@Auction.Id"></ItemCreate>
    }
}
else
{
<Auction.Blazor.Components.Offer.OfferCreate Item="@Item"></Auction.Blazor.Components.Offer.OfferCreate>
}
@code {
    [CascadingParameter] public AuctionModel Auction { get; set; } = new();
    public int count = 0;
    public ItemModel Item { get; set; } = new();
    private bool AddItems = false;
    public bool Exibir = false;
    public void Bid()
    {

    }
    public void CountPlus() => count++;
    public void AddItem() => AddItems = true;

    public void DarLance(ItemModel item)
    {
        Item = item;
        Exibir = true;
    }
  

}
